{
    "prefix":"",
    "ownerID":"",
    "language:"en", 

    "botStatus":"online",
    "enableCustomActivity":false,
    "botActivity":"",
    "botActivityType":"",
    "streamingURL":"",

    "advancedDebugging":false
}